[tool.ruff]
line-length = 88
indent-width = 4
target-version = "py311"

exclude = [
    ".bzr", ".direnv", ".eggs", ".git", ".hg", ".mypy_cache",
    ".nox", ".pants.d", ".ruff_cache", ".svn", ".tox", ".venv",
    "__pypackages__", "_build", "buck-out", "build", "dist",
    "node_modules", "venv", "settings",
]

[tool.ruff.lint]
select = ["E", "W", "F", "I", "B", "UP", "DJ", "C4", "SIM"]

ignore = []

[tool.ruff.lint.per-file-ignores]
"*/migrations/*.py" = ["E501"]

[tool.ruff.lint.isort]
known-first-party = ["GeolocationAPI"]

[tool.ruff.format]
quote-style = "double"
